.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 8px;
    align-items: center;
    justify-items: center;
}
    
.div1 {
    grid-column: span 5 / span 5;
}

.div2 {
    grid-column: span 5 / span 5;
    grid-row-start: 2;
}

.div3 {
    grid-column: span 5 / span 5;
    grid-row-start: 3;
}

.div4 {
    grid-column: span 5 / span 5;
    grid-row-start: 4;
}

.div5 {
    grid-column: span 5 / span 5;
    grid-row: span 5 / span 5;
    grid-row-start: 5;
}