.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
    align-items: center;
    justify-items: center;
}
    
.div1 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
}

.div2 {
    grid-column: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 3;
}

.div3 {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 4;
}

.div4 {
    grid-column: span 3 / span 3;
    grid-row: span 6 / span 6;
    grid-column-start: 4;
    grid-row-start: 1;
}